HalloWCF/Client/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HalloWCF" />
  <xs:element name="GetListe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HalloWCF" minOccurs="0" name="GetListeResult" nillable="true" type="q1:ArrayOfPizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bestelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HalloWCF" minOccurs="0" name="pizza" nillable="true" type="q2:Pizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BestelleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>